.markdown-preview-section ol>li::marker {
  content: counter(list-item) "\A0"
}

.markdown-preview-section ol>li ol>li::marker {
  content: counters(list-item, ".") "\A0"
}

.markdown-preview-section ol>li ol>li ol>li::marker {
  content: counters(list-item, ".") "\A0"
}

.markdown-preview-section ol>li ol>li ol>li > ol>li::marker {
  content: counters(list-item, ".") "\A0"
}