/* Mermaid */

body {
--mermaid-font-family: Segoe UI, "Microsoft YaHei", "Segoe UI Emoji", "trebuchet ms", verdana, Arial, cursive;
}

.mermaid .node:not([class*="id"]) rect:not([style*="fill"]):not([style*="stroke"]),
.mermaid .node:not([class$="id"]) circle:not([style*="fill"]):not([style*="stroke"]),
.mermaid .node:not([class$="id"]) ellipse:not([style*="fill"]):not([style*="stroke"]),
.mermaid .node:not([class$="id"]) polygon:not([style*="fill"]):not([style*="stroke"]),
.mermaid .node:not([class$="id"]) path:not([style*="fill"]):not([style*="stroke"]) {
    fill:   #000000   !important;
    stroke: #888888   !important;
    stroke-width: 2px !important;
}

.mermaid .edgePath .path,
.mermaid .flowchart-link {
    stroke: #888888 !important;
}

.mermaid .label {
    font-family: var(--mermaid-font-family) !important;
}

.mermaid .nodeLabel {
    color: #FFFFFF !important;
}

.mermaid .nodeLabel strong {
    color: currentColor !important;
}

.mermaid .marker {
    fill:   #555555 !important;
    stroke: #888888 !important;
}

.theme-dark .mermaid > svg {
    /*filter: invert(100%) hue-rotate(180deg) saturate(1.25);*/ /* default obsidian filter */
    /* filter: none; */
}
